{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Questionnaire
{% endblock %}

{% block content %}
    <div class="alert alert-info">Before showing you the results and the completion code of mTurk we
    kindly ask you to fill in this short questionnaire</div>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    {% formfields %}
    {% next_button %}
    <script>
        $(document).ready(function () {
            $('#id_country_born').select2();
            $('#id_country_life').select2();
        });

    </script>
{% endblock %}
