{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Revising your answer
{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                   On the next screen you can reconsider your answer provided in Part 1 of this study.
                </li>


                <li class="list-group-item ">
                    You will read the same short passage that you have read in Part 1,
                    and we will ask you to answer the same questions about it again.

                </li>
            </ul>
        </div>
    </div>
    <button class="  btn btn-danger">Proceed to read a passage</button>
{% endblock %}


