{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Final opportunity to revise
{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                   Now that you have completed the main part of this study, what do you think?
                </li>
            </ul>
        </div>
    </div>
    <button class="  btn btn-danger">Proceed to your final answer</button>
{% endblock %}


