{% extends "global/Page.html" %}
{% load render_bundle from webpack_loader %}
{% load otree static %}

{% block title %}
    Comprehension check
{% endblock %}

{% block content %}
    <style>
        .otree-form-errors.alert.alert-danger {
            display: none;
        }

        .errorlist {
            font-weight: bold;
            color: red;
            font-size: 1rem;
        }
    </style>
    <div id="instructions" class="d-none">
        {{ player.get_instructions }}
    </div>
    <script>
        window.instructions = $('#instructions').html()
    </script>
    {% render_bundle 'instruction_bar' 'css' %}
    {% render_bundle 'chunk-vendors' 'css' %}
    <div id="app"></div>
    {% render_bundle 'instruction_bar' 'js' %}
    {% render_bundle 'chunk-vendors' 'js' %}

    <div class="alert alert-info">
        To help us ensure that you understand the experiment, please check all the boxes that you think apply to this
        study. If you are unsure about any question, you should review the instructions by clicking “show instructions” above.:
    </div>
    {% if form.errors %}
        <div class="alert alert-danger my-3">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <table class="table table-striped table-hover">
        {% for foo in form %}
            <div class="form-group">
                {% formfield foo %}
            </div>
        {% endfor %}

    </table>
    {% next_button %}
{% endblock %}


