{% extends "global/FullPage.html" %}
{% load otree %}
{% load render_bundle from webpack_loader %}
{% block title %}
    Testing chat
{% endblock %}

{% block body_main %}
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    {% render_bundle 'main' 'css' %}
    {% render_bundle 'chunk-vendors' 'css' %}
    <script>
        window.socket_path = "{{ view.live_url }}";
        window.id_in_group = {{ player.id_in_group }};
        window.path_to_vignette = "{% url 'get_current_vignette' participant_code=participant.code %}";
        window.djangoErrors = {{ django_errors|default_if_none:''|json }};
        window.timeTillExitPermission = {{ time_to_exit|json }};
        window.seconds_till_allow_to_leave = {{ group.seconds_till_allow_to_leave|json }}
        window.msg_till_allowed_exit = {{ Constants.msg_till_allowed_exit|json }}
    </script>


    <form action='' method="post" role="form" id="form" autocomplete="off">

        {% csrf_token %}
        <div id="app"></div>
    </form>



    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'main' %}


{% endblock %}
