{% extends "global/Page.html" %}
{% load render_bundle from webpack_loader %}
{% load otree static %}

{% block title %}
    Please write the essay here
{% endblock %}

{% block content %}
    <div id="instructions" class="d-none">
        {{ player.get_instructions }}
    </div>
    <script>
        window.instructions = $('#instructions').html()
    </script>
    {% render_bundle 'instruction_bar' 'css' %}
    {% render_bundle 'chunk-vendors' 'css' %}
    <div id="app"></div>
    {% render_bundle 'instruction_bar' 'js' %}
    {% render_bundle 'chunk-vendors' 'js' %}
    {% formfield player.essay with label='' %}
    {% next_button %}
{% endblock %}


