{% extends 'otree/WaitPage.html' %}
{% block content %}
    <style>
        div.progress {
            display: none
        }
    </style>
    <script src="{% static 'otree/js/jquery.countdown.min.js' %}"></script>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            We are retrieving information necessary for you to continue the study.
        </li>
        <li class="list-group-item">
            At most you will wait {{ sec_to_min }} minutes, after which you will proceed 
            to the next stage. However, usually this process is much faster.
        </li>
        <li class="list-group-item">
            Maximum wait time: <b><span id="getting-started"></span></b>:
        </li>
        <li class="list-group-item">
            You will still be paid and eilligible for applicable bonuses even if you do wait the full wait period.
        </li>
        <li class="list-group-item">
            <div class="progress1">
                <div class="progress-bar  progress-bar-animated" role="progressbar"
                     id="moving_prog"
                     aria-valuenow="{{ val_now }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ val_for_progress }}">
                    &nbsp;
                </div>
            </div>
        </li>
    </ul>



    <script> window.setInterval(function () {
        window.location.reload();
    }, 10 * 100000);
    </script>
    <script type="text/javascript">
        var totalSecondsToWait = {{ total_seconds_to_wait|json }}
        var currentDate = new Date();
        var remainingSeconds = {{ seconds_to_mismatch|json }};
        var milliseconds = Math.floor(remainingSeconds * 1000);
        const $progbar = $('#moving_prog')
        $("#getting-started")
            .countdown(currentDate.valueOf() + milliseconds).on('update.countdown', function (event) {
            $(this).text(
                event.strftime('%N minute%!N %S second%!S')
            );
            const x= event.offset.totalSeconds/totalSecondsToWait;
            const forProgress=parseFloat(x*100).toFixed(2)+"%"
            $progbar.css('width', forProgress)
            console.debug(event.offset.totalSeconds, forProgress)
        }).on('finish.countdown', function (event) {
            console.debug('reloading...');
            setTimeout(() => {
                window.location.reload();
            }, 1000)
        })

    </script>
{% endblock %}
