{% extends "global/Page.html" %}
{% load render_bundle from webpack_loader %}
{% load otree static %}

{% block title %}
    Comprehension check
{% endblock %}

{% block content %}
    {% if attempts_left|default_if_none:False %}


        <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        You have <b>{{ attempts_left }}</b> attempt{{  attempts_left|pluralize}} left
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script>
            $('#errorModal').modal()

        </script>
    {% endif %}

    <style>
        .otree-form-errors.alert.alert-danger {
            display: none;
        }

        .errorlist {
            font-weight: bold;
            color: red;
            font-size: 1rem;
        }
    </style>
    <div id="instructions" class="d-none">
        {% include 'first/includes/pre-instructions.html' %}
    </div>
    <script>
        window.instructions = $('#instructions').html()
    </script>
    {% render_bundle 'instruction_bar' 'css' %}
    {% render_bundle 'chunk-vendors' 'css' %}
    <div id="app"></div>
    {% render_bundle 'instruction_bar' 'js' %}
    {% render_bundle 'chunk-vendors' 'js' %}

    <div class="alert alert-info">
        To help us ensure that you understand the experiment, please check all the boxes that you think apply to this
        study. If you are unsure about any question, you should review the instructions by clicking “show instructions”
        above.
    </div>
    {% if form.errors %}
        <div class="alert alert-danger my-3">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <table class="table table-striped table-hover">
        {% for foo in form %}
            <div class="form-group">
                {% formfield foo %}
            </div>
        {% endfor %}

    </table>
    {% next_button %}
{% endblock %}


