{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction to Part 1
{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    The purpose of this study is to explore whether discussion helps people arrive at more accurate
                    answers to various problems.
                </li>
                <li class="list-group-item">
                    In the course of this study, you will be asked to read one or more short passages on the
                    computer and to answer questions about them.
                </li>
                <li class="list-group-item">
                    Upon the completion of Part 1 we will inform you about your task in Part 2.
                </li>
                <li class="list-group-item lead text-center">
                    At the next page you will read a short passage,<br> and we will ask you to answer some questions
                    about it.
                </li>
            </ul>
        </div>
    </div>
    <button class="  btn btn-danger">Proceed to read a passage</button>
{% endblock %}


