{% extends "global/Page.html" %}
{% load otree %}
{% load render_bundle from webpack_loader %}
{% block title %}
    Testing chat
{% endblock %}

{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    {% render_bundle 'main' 'css' %}
    {% render_bundle 'chunk-vendors' 'css' %}
    <script>
        window.socket_path = "{{ view.live_url }}";
        window.id_in_group = {{ player.id_in_group }};
    </script>


    <div id="app"></div>



    {% render_bundle 'chunk-vendors' 'js' %}
    {% render_bundle 'main' 'js' %}


{% endblock %}
