{% extends "global/Page.html" %}
{% load otree %}
{% load render_bundle from webpack_loader %}
{% block title %}
    Testing chat
{% endblock %}

{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    {% render_bundle 'main' 'css' %}
    {% render_bundle 'chunk-vendors' 'css' %}
    <script>
        window.socket_path = "{{ view.live_url }}";
        window.id_in_group = {{ player.id_in_group }};
    </script>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-6 m-0 p-0">
                <div class="card m-3">
                    <div class="card-body">
                        <div>Gettier Vignette goes here</div>
                        <div class="my-3">{% next_button %}</div>
                    </div>
                </div>
            </div>
            <div class="col-6 m-0 p-0">
                <div id="app"></div>
            </div>
        </div>
    </div>

    {% render_bundle 'chunk-vendors' 'js' %}
    {% render_bundle 'main' 'js' %}


{% endblock %}
