{% extends "global/Page.html" %}


{% block title %}
    Consent Form
{% endblock %}
{% block content %}



    <div class="card">
        <div class="card-body">

            <ul class="list-group list-group-flush text-left infotext">
                <li class="list-group-item">
                    Nick Byrd, Ph.D., Ashley Lytle, Ph.D., and Kristyn Karl, Ph.D. from the School of Humanities, Arts, and Social Sciences and the Trustees of the Stevens Institute of Technology (SIT) are conducting a research study.<br>
                    You were selected as a possible participant in this study because you are an adult in a population that our research is studying.  Your participation in this research study is voluntary.<br>
                </li>
                <li class="list-group-item">
                    
                    <strong>WHY IS THIS STUDY BEING DONE?</strong><br>
                    We are studying the way that thinking styles are related to opinions and beliefs.<br>
                </li>
                <li class="list-group-item">

                    <strong>WHAT WILL HAPPEN IF YOU TAKE PART IN THIS RESEARCH STUDY?</strong><br>
                    If you volunteer to participate in this study, the researcher will ask you to do the following:<br>
                    •	Spend a few minutes telling us about your beliefs and opinions.<br>
                    •	Spend a few minutes on one or more short, straightforward, solvable puzzles.<br>
                    •	Report basic demographic information such as age and gender.<br>
                </li>
                <li class="list-group-item">
                    
                    <strong>ANTICIPATED LENGTH OF PARTICIPATION</strong><br>
                    Participation will take a total of about 10-15 minutes.<br>
                    You may be eligible for our similar, follow-up studies.<br>
                </li>
                <li class="list-group-item">
                    
                    <strong>RISKS OR DISCOMFORTS</strong><br>
                    •	There are no anticipated risks or discomforts.<br>
                </li>
                <li class="list-group-item">
                    
                    <strong>POTENTIAL BENEFITS</strong><br>
                    You may benefit from the study in the following way(s):<br>
                    •	You may not directly benefit from your participation in the research.<br>
                    •	The results of the research may improve our understanding of critical thinking and its impact on beliefs and opinions.<br>
                </li>
                <li class="list-group-item">
                    
                    <strong>CONFIDENTIALITY</strong><br>
                    Data collected from this study will be confidential. Data is collected and maintained in the following ways in order to ensure confidentiality: No identifying information will be collected; all data is stored in password-protected environments; when data is shared with reviewers, it will not contain information that can allow someone to trace responses to any one individual.<br><br>
                    We intend to publish the results of this research and its data for peer review and transparency.<br>
                </li>
                <li class="list-group-item">
                    
                    <strong>PARTICIPANT RIGHTS</strong><br>
                    •	You can choose whether or not you want to be in this study, and you may withdraw your consent and discontinue participation at any time.<br>
                    •	Whatever decision you make, there will be no penalty to you, and no loss of benefits to which you were otherwise entitled.<br>
                    •	You may refuse to answer any questions that you do not want to answer and still remain in the study.<br>
                    •	SIT Students: if you opt out of this research, you can complete other studies for credit or else consult your advisor(s), instructor(s), or program directors for alternative ways to receive similar course credit.<br>
                
                </li>
                <li class="list-group-item">
                    
                    <strong>WHO TO CONTACT IF YOU HAVE QUESTIONS ABOUT THIS STUDY:</strong><br><br>

                    <strong>The research team:</strong><br>
                    If you have any questions, comments or concerns about the research, you can talk to the one of the researchers. Please contact: <br>
                    •	Nick Byrd, Ph.D., nbyrd@stevens.edu<br>
                    •	Ashley Lytle, Ph.D., alytle@stevens.edu<br>
                    •	Kristyn Karl, Ph.D., kkarl@stevens.edu <br><br>
                    <strong>SIT Institutional Review Board (IRB):</strong><br>
                    If you have questions about your rights as a research subject, or you have concerns or suggestions and you want to talk to someone other than the researchers, you may contact the Stevens IRB by phone (201-216-3742) or by email: irb@stevens.edu.<br>

                <li class="list-group-item">

                        If you have any questions or <strong>technical difficulties</strong> contact:
                     <a href="mailto:fchapkovskiy@hse.ru" target="_blank"
                                           rel="noopener noreferrer">fchapkovskiy@hse.ru</a>.

                </li>
                <li class="list-group-item">
                    <h3>Consent:</h3>
                    <div>
                        You are invited to save a copy of this information to keep for your records.
                        
                        By clicking checking the box below, you agree that you are at least 18 years of age, 
                        that you have read and understood the above information, that your current questions have been 
                        answered, and that you wish to participate in this research.
                    </div>
                    <div class='text-danger mt-3'>
                        <label for="id_consent">
                            <i>{{ form.consent }}
                                I acknowledge that I have read the rules and privacy policy, I
                                certify I am 18 years of age or older, and I agree that my participation is
                                voluntary.</i>
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="my-3">
        {% next_button %}
    </div>




{% endblock %}
