{% extends "global/Page.html" %}


{% block title %}
    Consent form
{% endblock %}
{% block content %}



    <div class="card">
        <div class="card-body">

            <ul class="list-group list-group-flush text-left infotext">
                <li class="list-group-item">
                    {% blocktrans trimmed %}
                    <strong>Principal Investigator:</strong>
                    
                        Prof. Simon Cullen
                        Department of Philosophy
                        Baker Hall 161
                        5000 Forbes Avenue Pittsburgh, PA 15213
                        (412) 268-8568
                        scullen@andrew.cmu.edu
                    
                    <strong>Co-investigators:</strong>
                    
                        Dr. Philipp Chapkovski 
                        The Higher School of Economics
                        Email: pchapkov@andrew.cmu.edu
                    
                        Dr. Nick Byrd 
                        Carnegie Mellon University, Stevens Institute of Technology
                        Email: nbyrd@stevens.edu
                    {% endblocktrans %}
                </li>
                <li class="list-group-item">
                    {% blocktrans trimmed %}
                    <strong>Summary and Purpose of this Study</strong>
                    The purpose of this study is to explore whether discussion helps people arrive at more accurate answers to tricky puzzles. 
                    Ultimately, we aim to develop tools that will help scientists better study people’s ordinary concepts and problem-solving capacities.
                    {% endblocktrans %}
                </li>

                <li class="list-group-item">
                    {% blocktrans trimmed %}
                    <strong>Procedure</strong>
                    In the course of this study, you will be asked to read one or more short passages on the computer and to answer questions about them.
                    In addition, you may be asked to discuss your responses with another participant in an anonymous, real-time, text-only chat.
                    The study proceeds in two stages.
                    First, you will read a short passage and will answer questions about it.
                    Second, you will be matched with another participant with whom you can communicate by text, remaining completely anonymous. 
                    After exchanging your opinions in a ‘chat’ window, we will ask you to re-evaluate your answers given in the ﬁrst stage. 
                    The total duration of study will be about {{ study_length }}.
                    {% endblocktrans %}
                </li>
                
                <li class="list-group-item">
                    {% blocktrans trimmed %}
                    <strong>Participant Requirements</strong>
                    We welcome the participation of all adults (ages 18+) who are native or near-native English speakers.
                    {% endblocktrans %}
                </li>
                
                 <li class="list-group-item">
                    {% blocktrans trimmed %}
                    <strong>Risks</strong>
                    The risks and discomfort associated with participation in this study are no greater than those ordinarily encountered in daily life.
                    {% endblocktrans %}
                </li>
                
                <li class="list-group-item">
                    {% blocktrans trimmed %}
                    <strong>Benefits</strong>
                    There may be no personal beneﬁt from your participation in this study, but the knowledge received may be of value to humanity.
                    {% endblocktrans %}
                </li>
                
                <li class="list-group-item">
                    {% blocktrans trimmed %}
                    <strong>Compensation & Costs</strong>
                    For your participation in this study, you will receive a base pay. 
                    You may also receive a bonus depending on decisions that you make during the experiment. 
                    There will be no cost to you.
                    {% endblocktrans %}
                </li>
                
                <li class="list-group-item">
                    {% blocktrans trimmed %}
                    <strong>Future Use of Information</strong>
                    Your responses will not be linked to any identifying information. We may use data that you provide for future studies, 
                    or we may distribute the data to other investigators for their research studies. 
                    In such cases, we would not request additional informed consent from you (or your legally authorized representative). 
                    Sharing of data with other researchers will only be done in such a manner that you will not be identiﬁed.
                    {% endblocktrans %}
                </li>
                
                <li class="list-group-item">
                    {% blocktrans trimmed %}
                    <strong>Conﬁdentiality</strong>
                    By participating in the study, you understand and agree that Carnegie Mellon may be required to disclose your consent form and any data 
                    you provide as required by law, regulation, subpoena or court order. Otherwise, your conﬁdentiality will be maintained in the following manner:
                    
                    Your data will be kept separate from your consent form and from any payment details you may provide. 
                    Your research data will be stored in a secure location on Carnegie Mellon property. 
                    By participating, you understand and agree that the data and information gathered during this study may be used by 
                    Carnegie Mellon and published and/or disclosed by Carnegie Mellon to others outside of Carnegie Mellon. However, your name, address, contact information 
                    and other direct personal identiﬁers will not be mentioned in any such publication or dissemination of the research data and/or results by Carnegie Mellon. 
                    Note that per regulation all research data must be kept for a minimum of 3 years.
                    
                    The researchers will take the following steps to protect participants’ identities during this study:
                        
                        (1) Each participant will be assigned a randomly generated number. This number will be the only identiﬁer that will be used in the further analysis of the data;
                        (2) No individual information (such as personal address, IP address, ZIP code, name or SSN) will be requested during the study, unless Venmo or PayPal account details are required for processing payments.
                        (3) Any original recordings or data ﬁles will be stored in a secured location accessed only by authorized researchers.
                    
                    Anonymous data collected in this study will be shared online using the Open Science Framework. 
                    This practice encourages transparency in research and allows other researchers to replicate any analyses, 
                    improving the quality of scientiﬁc inquiry.
                    
                    The Federal sponsor may have the right to review research records.
                    {% endblocktrans %}
                </li>
                
                <li class="list-group-item">
                    {% blocktrans trimmed %}
                    <strong>Payment Conﬁdentiality</strong>
                    TPayment methods, especially those facilitated by third party vendors (such as Venmo, Amazon, PayPal), 
                    may require that the researchers and/or the vendor collect and use personal information (name, email addresses, phone numbers, payment information) 
                    provided by you in order for your payment to be processed. 
                    As with any payment transaction there is the risk of a breach of conﬁdentiality from the third-party vendor. 
                    All personal information collected by the researcher will be held as strictly conﬁdential and stored in a password-protected digital ﬁle, 
                    or in a locked ﬁle cabinet, until payments are processed and reconciled. This information will be destroyed at the earliest acceptable time.
                    {% endblocktrans %}
                </li>
                
                <li class="list-group-item">
                    {% blocktrans trimmed %}
                    <strong>Rights</strong>
                    Your participation is voluntary. You are free to stop your participation at any point. 
                    Refusal to participate or withdrawal of your consent or discontinued participation in the study will not result in any penalty or 
                    loss of beneﬁts or rights to which you might otherwise be entitled. The Principal Investigator may at his/her discretion remove you from 
                    the study for any of a number of reasons. 
                    In such an event, you will not suffer any penalty or loss of beneﬁts or rights which you might otherwise be entitled.
                    {% endblocktrans %}
                </li>
                
                <li class="list-group-item">
                    {% blocktrans trimmed %}
                    <strong>Right to Ask Questions & Contact Information</strong>
                    If you have any questions about this study, you should feel free to ask them now. 
                    If you have questions later, desire additional information, or wish to withdraw your participation please contact the Principal Investigator by mail, 
                    phone or e-mail in accordance with the contact information listed on the ﬁrst page of this consent.
                    
                    If you have questions pertaining to your rights as a research participant; or to report concerns to this study, 
                    you should contact the Ofﬁce of Research Integrity and Compliance at Carnegie Mellon University. 
                    Email: irb-review@andrew.cmu.edu
                    Phone: 412-268-1901 or 412-268-5460.
                    {% endblocktrans %}
                </li>
                
                <li class="list-group-item">
                    {% blocktrans trimmed %}
                    On average, the experiment takes about {{ study_length }}.
                    {% endblocktrans %}
                </li>

                <li class="list-group-item">
                    {% blocktrans trimmed %}
                    If you have any questions or <strong>technical difficulties</strong> contact:
                    {% endblocktrans %} <a href="mailto:fchapkovskiy@hse.ru" target="_blank"
                                           rel="noopener noreferrer">fchapkovskiy@hse.ru</a>.

                </li>
                <li class="list-group-item">
                    <h3>Consent:</h3>
                    <div>
                        By clicking checking the box below, you agree that you are at least 18 years of age, 
                        that you have read and understood the above information, that your current questions have been answered, 
                        and that you wish to participate in this research.
                    </div>
                    <div class='text-danger mt-3'>
                        <label for="id_consent">
                            <i>{{ form.consent }}
                                I acknowledge that I have read the rules and privacy policy, I
                                certify I am 18 years of age or older, and I agree that my participation is voluntary.</i>
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="my-3">
        {% next_button %}
    </div>




{% endblock %}
