<div class="card my-3">
    <div class="card-body">

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                We are studying whether thoughtful reflection leads people to better answers.
            </li>
            <li class="list-group-item">
                We do not assume that your answers have been correct or incorrect.
            </li>
            <li class="list-group-item">
                No matter how you answered the question, in the next stage of this study you will be engaged into a
                certain
                activity.
            </li>
            <li class="list-group-item">
                The aim of this activity is to arrive at the best answer.
            </li>
            <li class="list-group-item">
                After writing, you may change your response to the problem if you so choose.
            </li>
            <li class="list-group-item">
                We will disclose the nature of this activity at the next pages.
            </li>
        </ul>


    </div>
</div>