<div class="card my-3">
    <div class="card-body">

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                We are studying whether thoughtful reflection leads people to better answers.
            </li>
            <li class="list-group-item">
                We do not assume that your answers have been correct or incorrect. 
                No matter how you initially answered the question, you will have a chance to reflect and change your response.
            </li>
            <li class="list-group-item">
                You will find out more about this activity in the upcoming pages.
            </li>
        </ul>


    </div>
</div>
